.navBar {
    background-color: rgb(156, 94, 57);
}

.menu-button {
    padding: 0;
  }
  
  .menu-item {
    width: 100%;
  }
  
  .menu-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  